*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "DMSans-Variable";
    src: url(assets/fonts/DMSans-VariableFont_opsz,wght.ttf);
    font-weight: 1 999; 
    font-optical-sizing: auto;
}

@font-face {
    font-family: "DMSans-Italic";
    src: url(assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf);
    font-weight: 1 999; 
    font-optical-sizing: auto; 
}


div:not(.main_grid_div){
    border-radius: 3%;
}

:root{
    --beige: hsl(31, 66%, 93%);
    --orange: hsl(39, 100%, 71%);
    --light-purple: hsl(254, 88%, 90%);
    --dark-purple: hsl(256, 67%, 59%);
    --black: hsl(0, 0%, 7%);
}

.main_grid_div{
    padding: 100px;
    display: grid;
    margin: 50px 150px 100px 150px;
    max-width: 80%;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


.create_and_schedule_div{
    background-color: var(--beige);
    padding: 70px 30px 70px 30px;
    grid-column: 1;
    grid-row: 1/6;
    
}

.create_text{
    font-family: "DMSans-Variable";
    font-weight: 550;
    font-variation-settings: "opsz" 50;
    font-size: 35px;
    line-height: 0.9;
    margin-bottom: 20px;
    letter-spacing: -1px;
}

.CreatePost{
    max-width: 100%;
    height: auto;
}

.purple_italic{
    color: var(--dark-purple);
    font-family: "DMSans-Italic";
}

.social_media_div{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px 0 30px;
    background-color: var(--dark-purple);
    padding-bottom: 50px;
    grid-column: 2 / 4;
    grid-row: 1 / 5;

}

.social_text{
    text-align: center;
    color: white;
    font-family: "DMSans-Variable";
    font-size: 50px;
    font-weight: 450;
    line-height: 0.9;
    margin-bottom: 20px;
}

.orange{
    color: var(--orange);
}

.italic{
    font-family: "DMSans-Italic";
}

.stars_img{
    max-width: 40%;
    height: auto;
    margin-bottom: 5px;
}

.reviews{
    font-family: "DMSans-Variable";
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.schedule_div{
    overflow: hidden;
    padding: 40px 30px 0 30px;
    background-color: var(--light-purple);
    grid-column: 4;
    grid-row: 1/8;
}

.schedule_text{
    font-family: "DMSans-Variable";
    font-size: 25px;
    font-weight: 600;
    line-height: 0.9;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.schedule_img{
    width: 185%;
    margin-bottom: 15px;
}

.schedule_p{
    font-family: "DMSans-Variable";
    font-size: 16px;
    line-height: 1;
    font-weight: 450;
}